:root{
  --main-color: #495E57;
  --main2-color: #F4CE14;
  --secondary-color: #EE9972;
  --secondary2-color: #FBDABB;
  --secondary3-color: #EDEFEE;
  --secondary4-color: #333333;
  --title-font: "Roboto", "Karla";
}

/* Generales */

a {
  text-decoration: none;
}

/* Barra nav */

.logoImg {
  height: 4rem;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: auto;
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 20px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  text-transform: uppercase;
}

header nav ul li a{
  color: var(--secondary4-color);
  position: relative;
}

header nav ul li a:hover{
  color: var(--main-color);
}

header nav ul li a::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;

}

header nav ul li a:hover::before{
  transform: scaleX(1);
}